---
title: Schedule
layout: default
permalink: /schedule
image: banner.png
---
{% include top-section.html %}
<!-- {% include navigation.html %} -->

<div id="schedule">

    <p>
        The schedule is subject to change. Any updates will be posted here or will
        be available on a booklet on the day of the event.
    </p>

    <section class="schedule" id="rpgs">
        <h1>RPGs</h1>
      
        {% for day in site.data.schedule.rpgs %}
          <h2>{{ day[0] | capitalize }}</h2>
          <table>
            <tbody>
              {% assign sessions = day[1] %}
              {% assign active_sessions = sessions | where_exp: "s", "s.disabled != true" %}
              
              {% if active_sessions.size > 0 %}
                {% for session in active_sessions %}
                  <tr>
                    <td>{{ session.time }}</td>
                    <td>
                      <ul>
                        {% for game in session.games %}
                          <li>
                            <b>{{ game.system }} - </b>
                            <a href="{{ game.url }}">{{ game.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td>TBD.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        {% endfor %}
    </section>      
</div>
