<section id="staff">
    <!-- <div class="overlay solid-overlay"></div> -->
    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">

            <h3>
                Staff
            </h3>
            <p>
                {{ staffInfo.header }}
            </p>

            <p>
                {{ staffInfo.bodyText }}
            </p>

            {% if staffInfo.disabled != true %}
            <a href="{{ staffInfo.link }}" class="btn btn-primary waves-effect waves-button">
                Staff Form
            </a>
            {% else %}
            <a href="" class="btn btn-primary waves-effect waves-button">
                Staff Form
            </a>
            {% endif %}
        </div>
    </div>

</section>
