<section id="staff">
    <!-- <div class="overlay solid-overlay"></div> -->
    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">

            <h3>
                Staff
            </h3>
            <h4>{{ site.staffInfo.header }}</h4>

            <p>{{ site.staffInfo.bodyText }}</p>

            {% if site.staffInfo.disabled != true %}
            <a href="{{ site.staffInfo.link }}" class="btn btn-primary waves-effect waves-button">
                Staff Form
            </a>
            {% else %}
            <a href="#" class="btn btn-primary waves-effect waves-button">
                Staff Form (Not available yet)
            </a>
            {% endif %}
        </div>
    </div>

</section>
